body {
    margin: 20px;
    background-image: url("/images/background\ image.jpg");
  }

span.bg-clip-text.text-transparent.bg-gradient-to-r.from-green-400.to-blue-500 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

